/**** GENERAL STYLING ****/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
}

a {
    text-decoration: none;
}

/**** STYLING OF THE HEADER ****/
header {
    height: 75vh;
    width: 100vw;
    background-image: url('./Images/scott-webb-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 80px 265px;
}

.text-box { /* Box with headings */
    margin-top: 60px;
}

.portfolio, .name {
    text-align: left;
    font-family:'Roboto', sans-serif;
    font-size: 28px;
    letter-spacing: 1.12px;
    color: #ffffff;
    margin-bottom: 2px;
}

.portfolio {
    font-weight: normal;
}

.name, .title, .extra-title {
    font-weight: bold;
}

.title, .extra-title {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin-top: 0px;
}

.title {
    margin-bottom: 2px;
    line-height: 87px;
    font-size: 83px;
}

.extra-title {
    font-size: 50px;
}

.icon-picture-box { /* Box with icons with links and picture of me */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon-links { /* Div with the icons */
    display: flex;
}

.ellipse { /* To make a circle around the icons */
    border: 3px solid #FFFFFF;
    width: 79px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.icon { /* Size of the icons */
    width: 31px;
    height: 30px;
}

.picture-of-me { /* Profile picture styling*/
    /*position: absolute;
    right: 19vw;
    top: 40vh;*/
    width: 290px;
    height: 290px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    margin-top: 135px;
    z-index: 1;
}

/*** General styling for all sections ***/
.portfolio-section { /* The sections */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 255px;
    width: 100%;
}

.grey { /* Other color for the grey sections */
    background: #F4F4F4;
}

.section-heading, .div-heading { /* Big section heading and 
    smaller heading in sections */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0px;
    margin-bottom: 0px;
    padding: 0 10px;
}

.section-heading {
    font-size: 48px;
    color: #FFFFFF;
    background-color: #991D3A;
}

.div-heading { 
    font-size: 38px;
    color:#991D3A;
}

.normal-text {
    font-size: 30px; 
    font-family: 'Montserrat', sans-serif;
}

.text-align-left { /* For text that shall not be centered */
    text-align: left;
}

/** Section with intro text**/
/* Decoration line & circle in beginning of intro-text*/
.line {
    display: inline-block;
    width: 70px;
    height: 3px;
    background-color: #991D3A;
    padding: 0px;
    margin-bottom: 6.5px;
}

.circle {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #991D3A;
    margin-left: -10px;
    margin-right: 12px;
    padding: 0px;
}

/** Section with tech words **/
.red-text {
    color: #991D3A;
}

/** Sections with projects & thoughts **/ 
.featured-projects { /*For the projects/thoughts with pictures*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.other-linked-projects { /*For the projects/thoughts without pictures*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1010px;
    margin-top: 40px;
}

.project-card {
    margin: 20px;
    width: 420px;
    height: 430px;
}

.width {
    max-width: 800px;
}

/* The added pictures in the cards */
.project-picture { 
    color:  #445FA8;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
    width: 420px;
    height: 260px;
    text-align: center;
    padding-top: 105px;
    margin: 4px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.business {
    background-image: url('./Images/accordion.PNG');
}

.chat {
    background-image: url('./Images/pizzabot.PNG');
}

.weather {
   background-image: url('./Images/weather.PNG');
}

.cluedo {
    background-image: url('./Images/cludeo.PNG');
}

.bold-text { /* For bolder text in the project and thoughts sections */
    font-family: 'Roboto', sans-serif;
    color: #991D3A;
    font-weight: bold;
    margin: auto;
}

.tech-sign-wrapper { /* The wrapper for the tech-signs */
    display: flex;
}

.tech-sign { /* The small pink boxes with tech-words.*/
    color: #2B2E34;
    background-color: #FDDFE7;
    font-size: 12px;
    padding: 4px 12px;
    margin: 3px;
}

.description-text {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: #000000;
}

/* For the different colors on the underlined links */
.underline {
    text-decoration: underline #FDDFE7;
}

.underlined-link {
    text-decoration: underline #000000;
}

.colored {
    text-decoration: underline #991D3A;
}

/** Section with thoughts **/
.thoughts-card {
   /* display: flex;
    flex-direction: column;
    align-items: flex-start;*/
    margin: 20px;
    width: 420px;
}

.thoughts-one {
    background-image: url('./Images/thoughtsphoto.png');
}

.thoughts-two {
    background-image: url('./Images/thoughtsphoto.png');
}

.date {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #991D3A;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: left;
}

.no-margin {
    margin: 0;
    padding-left: 5px;
    color: #000000;
    text-align: left;
    line-height: 1.5em;
}

.width {
    width: auto;
    height: auto;
}

/** Section with skills **/
.skills {
    display: flex;
    margin-top: 20px;
}

.skills-box {
    line-height: 15px;
    margin: 40px 60px;
}

.extra-margin-top {
    margin-top: 60px;
}

/** Section with big icons with links **/
.big-icons-link {
    display: flex;
    margin: 60px 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.ellipse-big { /* To make a circled border around the icons */
    border: 3px solid #991D3A;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 40px -10px 40px;
}

.icon-big { /* Size of the icons */
    width: 60px;
    height: 60px;
}

/**** STYLING OF THE FOOTER ****/
footer {
    width: 100vw;
    background-color: #445FA8;
    margin-top: 70px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 95px 0px 200px 0px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

footer h3 {
    font-weight: bold;
    font-size: 38px;
}

footer p {
    margin: 10px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

/************* MEDIA QUERIES ******************************/
@media screen and (max-width: 700px) { /* Mobile device */
    header {
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        height: 460px;
        width: 100vw;
    }

    .ellipse {
        width: 40px;
        height: 39px;
    }

    .icon {
        width: 15px;
        height: 15px;
    }

    .text-box {
        margin-top: 40px;
        margin-left: 60px;
        z-index: 1;
        width: 210px;
    }

    .icon-picture-box {
        margin-right: 60px;
        margin-left: -80px;
        z-index: 5;
    }

    .icon-links {
        margin-top: 60px;
    }

    .picture-of-me {
        width: 100px;
        height: 100px;
        margin-top: 280px;
    }

    .portfolio, .name {
        font-size: 13px;
    }

    .title {
        font-size: 40px;
        line-height: 40px;
    }

    .extra-title {
        font-size: 24px;
    }

    p, .normal-text, .bold-text, .description-text, footer p, .date {
        font-size: 17px;
    }

    .text-align-left {
        margin-left: 5px;
    }

    .section-heading {
        font-size: 22px;
    }
    
    .div-heading, footer h3 {
        font-size: 21px;
    }

    .portfolio-section {
        padding: 30px 40px;
    }

    .project-picture {
        font-size: 16px;
        width: 300px;
        height: 185px;
        padding-top: 90px;
    }

    .project-card {
        width: 300px;
        height: auto;
    }

    .tech-sign {
        font-size: 10px;
        padding: 4px;
    }

    .featured-projects {
        flex-direction: column;
    }

    .other-linked-projects {
        width: auto;
        margin-top: 20px;
    }

    .thoughts-card {
        width: auto;
    }

    .skills {
        flex-wrap: wrap;
    }

    .skills-box {
        line-height: 12px;
        margin: 10px;
    }
    
    .extra-margin-top {
        margin-top: 40px;
    }

    .last {
        margin-top: -30px;
        margin-left: 90px;
    }

    .ellipse-big {
        width: 59px;
        height: 58px;
        margin: 0px 20px;
    }

    .icon-big {
        width: 22px;
        height: 22px;
    }

    .extra-margin-top {
        font-size: 12px;
    }
}

@media screen and (max-width: 1023px) { /* Tablet device */
    header {
        width: 100vw;
        padding: 50px 40px;
    }

    .text-box {
        margin-bottom: 40px;
    }
/*
    .title {
        font-size: 60px;
        line-height: 60px;
    }

    .extra-title {
        font-size: 40px;
    }

    .picture-of-me {
        width: 200px;
        height: 200px;
        margin-top: 420px;
    } */

    .portfolio-section {
        padding: 20px 60px;
    }

    .other-linked-projects {
        width: auto;
    }

    .skills-box {
        margin: 20px 10px;
        line-height: 20px;
    }
}