/**** GENERAL STYLING ****/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&family=Roboto:wght@400;700&display=swap');

* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

p {
    font: 25px 'Roboto', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

/**** STYLING OF THE HEADER ****/
header {
    height: 85vh;
    width: 100vw;
    background-image: url('./Images/jess-bailey-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 80px 265px;
}

.text-box { /* Box with headings */
    margin-top: 8%;
}

.portfolio, .name {
    text-align: left;
    font: 28px 'Roboto', sans-serif;
    letter-spacing: 1.12px;
    color: #000000;
    margin-bottom: 2px;
}

.portfolio {
    font-weight: normal;
}

.name, .title, .extra-title {
    font-weight: bold;
}

.title, .extra-title {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    margin-top: 0px;
}

.title {
    margin-bottom: 2px;
    line-height: 87px;
    font-size: 83px;
}

.extra-title {
    font-size: 50px;
}

.icon-picture-box { /* Box with icons with links and picture of me */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon-links { /* Div with the icons */
    display: flex;
}

.ellipse { /* To make a circle around the icons */
    border: 3px solid #000000;
    width: 79px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.last-ellipse {
    margin-right: 0;
}

.icon { /* Size of the icons */
    width: 31px;
    height: 30px;
}

.picture-of-me { /* Profile picture styling*/
    width: 290px;
    height: 290px;
    border: 3px solid #000000;
    border-radius: 50%;
    margin-top: 72%;
    z-index: 1;
}

/*** General styling for all sections ***/
.portfolio-section { /* The sections */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 255px;
    width: 100%;
}

.grey { /* Other color for the grey sections */
    background: #F4F4F4;
}

.section-heading, .div-heading { /* Big section heading and 
    smaller heading in sections */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0px;
    margin-bottom: 0px;
    padding: 0 10px;
}

.section-heading {
    font-size: 48px;
    color: #FFFFFF;
    background-color: #b53163;
}

.div-heading { 
    font-size: 38px;
    color:#b53163;
}

.normal-text { 
    font: 30px 'Montserrat', sans-serif;
}

/** Section with intro text**/
/* Decoration line & circle in beginning of intro-text*/
.line {
    display: inline-block;
    width: 70px;
    height: 3px;
    background-color: #b53163;
    padding: 0px;
    margin-bottom: 7px;
}

.circle {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #b53163;
    margin: 0px 12px 0px -10px;
    padding: 0px;
}

.intro-text { /* For text that shall not be centered */
    text-align: left;
}

/** Section with tech words **/
.red-text {
    color: #b53163;
}

/** Sections with projects & thoughts **/ 
.featured-projects { /*For the projects/thoughts with pictures*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    width: 1150px;
}

.other-linked-projects { /*For the projects/thoughts without pictures*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1010px;
    margin: 40px 60px 10px 60px;
}

.project-card {
    margin-top: 20px;
    width: 420px;
    height: 445px;
}

.hover { /* To look better when hovering these elements they needed 
    some extra padding and margin */
    padding: 10px;
    margin-top: 10px;
}

.hover:hover { /* When hovering the cards with links */
    box-shadow: 0.5px 0.5px 0.5px 1px #c7c7c7;
}

.width {
    max-width: 800px;
}

/* The added pictures in the cards */
.project-picture { 
    color:  #b53163;
    font: bold 28px 'Montserrat', sans-serif;
    width: 420px;
    height: 260px;
    text-align: center;
    padding-top: 105px;
    margin: 4px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.business {
    background-image: url('./Images/accordion.PNG');
}

.chat {
    background-image: url('./Images/pizzabot.PNG');
}

.weather {
   background-image: url('./Images/weather.PNG');
}

.cluedo {
    background-image: url('./Images/cludeo.PNG');
}

.bold-text { /* For bolder text in the project and thoughts sections */
    font: bold 25px 'Roboto', sans-serif;
    color: #b53163;
    margin: auto;
    text-align: left;
}

.tech-sign-wrapper { /* The wrapper for the tech-signs */
    display: flex;
}

.tech-sign { /* The small pink boxes with tech-words.*/
    color: #2B2E34;
    background-color: #FDDFE7;
    font-size: 12px;
    padding: 4px 12px;
    margin: 3px;
}

.description-text {
    font: normal 25px 'Roboto', sans-serif;
    color: #000000;
}

/* For the different colors on the underlined links */
.underline {
    text-decoration-line: underline;
    -webkit-text-decoration-line: underline;
    text-decoration-color: #FDDFE7;
    -webkit-text-decoration-color:#FDDFE7;
}

.underlined-link {
    text-decoration-line: underline;
    -webkit-text-decoration-line: underline;
    text-decoration-color: #000000;
    -webkit-text-decoration-color: #000000;
}

.colored-underline {
    text-decoration-line: underline;
    -webkit-text-decoration-line: underline;
    text-decoration-color: #b53163;
    -webkit-text-decoration-color: #b53163;
}

/** Section with thoughts **/
.thoughts-card {
    margin-top: 20px;
    width: 440px;
}

.thoughts-one {
    background-image: url('./Images/thoughtsphoto.png');
}

.thoughts-two {
    background-image: url('./Images/thoughtsphoto.png');
}

.date {
    font: 25px 'Roboto', sans-serif;
    color: #b53163;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: left;
}

.no-margin {
    margin: 0;
    padding-left: 5px;
    color: #000000;
    text-align: left;
    line-height: 1.5em;
}

.width {
    width: auto;
    height: auto;
}

/** Section with skills **/
.skills-wrapper {
    display: flex;
    margin-top: 20px;
}

.skills-box {
    line-height: 28px;
    margin: 40px 60px;
    text-align: center;
}

.extra-margin-top {
    margin-top: 60px;
}

.centered {
    text-align: center;
}

/** Section with big icons with links **/
.big-icons-wrapper {
    display: flex;
    margin: 60px 0px;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.ellipse-big { /* To make a circled border around the icons */
    border: 3px solid #b53163;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 40px -10px 40px;
}

.icon-big { /* Size of the icons */
    width: 60px;
    height: 60px;
}

/**** STYLING OF THE FOOTER ****/
footer {
    width: 100vw;
    background-color: #b53163;
    margin-top: 70px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 95px 0px 200px 0px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

footer h3 {
    font-weight: bold;
    font-size: 38px;
}

footer p {
    margin: 10px;
    font: 30px 'Montserrat', sans-serif;
    color: #FFFFFF;
}

/************* MEDIA QUERIES ******************************/
@media screen and (max-width: 1080px) { /* Tablet device */
    header { 
        width: 100vw;
        height: 560px; /* Fixed size of the header to easier align the text box and picture */
        padding: 50px 40px;
    }

    .text-box { 
        margin: 80px 0px 0px 30px;
    }

    .icon-picture-box {
        margin: 20px 30px 0px 0px;
    }

    .title { /* Smaller texts */
        font-size: 60px;
        line-height: 60px;
    }

    .extra-title {
        font-size: 40px;
    }

    .picture-of-me { /* Smaller picture */
        width: 200px;
        height: 200px;
        margin-top: 220px;
    } 

    .portfolio-section {
        padding: 20px 60px;
    }

    .featured-projects {
        width: auto;
    }

    .other-linked-projects {
        width: 420px;
    }

    .skills-box {
        margin: 20px 10px;
        line-height: 20px;
    }
}

@media screen and (max-width: 820px) {
    .skills-box { /* Needed to be adjusted since the rows shrinked together otherwise */
        line-height: 28px;
    }
}

@media screen and (max-width: 700px) { /* Mobile device */
    header {
        padding: 0px;
        align-items: center;
        justify-content: center;
        margin: 0; 
        height: 460px;
    }

    .ellipse { /* Smaller circle */
        width: 40px;
        height: 39px;
    }

    .icon { /* Smaller icons */
        width: 15px;
        height: 15px;
    }

    .text-box {
        margin: 40px 0px 0px 60px;
        z-index: 1;
        width: 210px;
    }

    .icon-picture-box {
        margin: 0px 20px 0px -80px;
        z-index: 5;
    }

    .icon-links {
        margin-top: 72px;
    }

    .picture-of-me {
        width: 100px;
        height: 100px;
        margin-top: 280px;
    }

    /* Smaller size of the line and circle */
    .line {
        width: 50px;
        height: 3px;
        margin-bottom: 5.5px;
    }

    .circle {
        width: 14px;
        height: 14px;
        margin: 0px 10px 0px -8px;
    }

    /* Smaller font-sizes in mobile format*/
    .portfolio, .name {
        font-size: 13px;
    }

    .title {
        font-size: 40px;
        line-height: 40px;
    }

    .extra-title {
        font-size: 24px;
    }

    p, .normal-text, .bold-text, .description-text, footer p, .date {
        font-size: 17px;
    }

    .text-align-left {
        margin-left: 5px;
    }

    .section-heading {
        font-size: 22px;
    }
    
    .div-heading, footer h3 {
        font-size: 21px;
    }

    /* Sections and cards sizes and paddings */
    .portfolio-section {
        padding: 30px 40px;
    }

    .project-picture {
        font-size: 16px;
        width: 300px;
        height: 185px;
        padding-top: 90px;
    }

    .project-card {
        width: 300px;
        height: auto;
    }

    .tech-sign {
        font-size: 10px;
        padding: 4px;
    }

    .featured-projects {
        flex-direction: column;
    }

    .other-linked-projects {
        width: 300px;
        margin: 20px;
    }

    .thoughts-card {
        width: 300px;
    }

    .underlined-link, .colored-underline {
        text-decoration: none;
    }

    /* Skills section */
    .skills-wrapper {
        flex-wrap: wrap;
    }

    .skills-box {
        line-height: 20px;
        margin: 10px;
    }
    
    .extra-margin-top {
        margin-top: 40px;
        font-size: 12px;
    }

    .last { /* To adjust the last skills-box in mobild format */
        margin: -30px 0px 0px 90px;
    }

    .ellipse-big { /* Smaller circle */
        width: 59px;
        height: 58px;
        margin: 0px 20px;
    }

    .icon-big { /* Smaller icon */
        width: 22px;
        height: 22px;
    }
}

@media screen and (max-width: 340px) { /* For very small phones */
    .icon-picture-box {
        margin: 0px 10px 0px -120px;
    }

    .portfolio-section {
        padding: 10px 15px;
    }

    .project-card {
        width: auto;
    }

    .project-picture {
        width: auto;
    }

    .thoughts-card {
        width: auto;
    }

    .other-linked-projects {
        margin: 0px;
        width: auto;
    }

    .hover {
        padding: 10px;
    }

    .big-icons-wrapper {
        margin: 40px 15px 0 15px;
    }

    .ellipse-big { /* Smaller circle */
        width: 49px;
        height: 48px;
    }

    .icon-big { /* Smaller icon */
        width: 18px;
        height: 18px;
    }
}